.page-admin-config-regional-smartling-batch-list table.system-status-report tr.batch-completed {
    background-color: white !important;
}

.page-admin-config-regional-smartling-batch-list table.system-status-report tr.batch-not-completed {
    background-color: #f3f4ee !important;
}

.page-admin-config-regional-smartling-batch-list table.system-status-report tr td img {
    width: 15px;
    height: auto;
    margin: auto;
}

.page-admin-config-regional-smartling-batch-list table.system-status-report tr.ok td.status-icon div {
    background-image: url(/misc/message-16-ok.png);
}
