/**
 * @file
 *
 * Custom css.
 */

#edit-account-info .form-item-callback-url,
#edit-account-info .form-item-callback-url label,
#edit-account-info .form-item-callback-url input,
#edit-account-info .form-item-default-language-format input {
    display: inline;
    width: auto;
}

#edit-target-locales .form-type-checkbox {
    width: 100%;
    position: relative;
    margin-bottom: 7px;
    display: inline-block;
}

#edit-target-locales .form-type-checkbox input,
#edit-target-locales .form-type-checkbox label {
    clear: both;
}

#edit-target-locales .form-type-textfield {
    width: 60px;
    display: inline-block;
    position: absolute;
    left: 150px;
    padding: 0;
}

.view-smartling-submissions tr.failed_status {
    background-color: #eeb9b9
}


.big-select-languages-widget {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}
