/**
 * @file
 *
 * Custom css.
 */

#smartling_fieldset fieldset.vertical-tabs-pane legend {
    display: none !important;
}

#smartling_fieldset fieldset.vertical-tabs-pane [id*="edit-add-to-existing-job-tab-container-job-info"] legend {
    display: block !important;
}

#smartling_fieldset .lang-name {
    width: 145px;
    display: inline-block;
}

#smartling_fieldset .lang-status {
    padding-left: 20px;
    background-image: url("../img/status-sprite.png");
    background-repeat: no-repeat;
}

#smartling_fieldset .lang-status.in-queue {
    background-position: 0 0;
}

#smartling_fieldset .lang-status.in-translate {
    background-position: 0 -16px;
}

#smartling_fieldset .lang-status.translated {
    background-position: 0 -32px;
}

#smartling_fieldset .lang-status.status-changed {
    background-position: 0 -48px;
}

#smartling_fieldset .lang-status.status-failed {
    background-position: 0 -48px;
}

.view .progress-status {
  padding: 0px 10px;
  background: url("../img/status-sprite.png") no-repeat;
}

.view .progress-status.done {
  background-position: 0 -32px;
}
.view .progress-status.in-progress {
  background-position: 0 -16px;
}

/* Horizontal tabs for Job form */
#smartling_fieldset div.vertical-tabs .vertical-tabs-list {
    width: 100%;
    margin: 0;
    clear: both;
    border-bottom: none;
    margin-bottom: -1px;
}

#smartling_fieldset  div.vertical-tabs {
    background: #fff;
    border: none;
    margin: 10px 0;
    position: relative;
}

#smartling_fieldset div.vertical-tabs .vertical-tabs-panes {
    margin: 0;
    padding: 10px 15px;
    clear: both;
    border: 1px solid #ccc;
}

#smartling_fieldset div.vertical-tabs ul li.vertical-tab-button {
    float: left;
    margin: 0 3px 0 0;
    border: 1px solid #ccc;
    background: #eee;
}

#smartling_fieldset div.vertical-tabs ul li.vertical-tab-button a {
    border-top: medium none;
}

#smartling_fieldset div.vertical-tabs ul li.selected {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    background: #fff;
}

#smartling_fieldset div.vertical-tabs ul li.selected a,
#smartling_fieldset div.vertical-tabs ul li.selected a:hover,
#smartling_fieldset div.vertical-tabs ul li.selected a:focus,
#smartling_fieldset div.vertical-tabs ul li.selected a:active {
    background: none;
    border: none;
    text-decoration: none;
}
