#smartling_translate_popup {
    margin: 0px 20px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    width: 600px;
    z-index: 1000;
}

#smartling_translate_popup .helper_button {
    float: right;
    margin-top: -1px;
    margin-left: 4px;
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    background-position: 0 top;
    background-repeat: no-repeat!important;
    cursor: pointer!important;
    overflow: hidden;
    line-height: 1000px;
    background-image: url(buttons-light.png);
}

#smartling_popup_header {
    display: block;
    background-color: rgb(82, 141, 223);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 14px;
    padding: 10px;
}

#smartling_popup_content {
    background-color: rgb(255, 255, 255);
    padding: 0 10px 10px 10px;
    max-height: 500px;
    border-top: 1px solid rgb(82, 141, 223);
    border-left: 1px solid rgb(210, 210, 210);
    border-right: 1px solid rgb(210, 210, 210);
    overflow-y: auto;
}

#smartling_stats {
    float: right;
    cursor: pointer;
    margin-top: 7px;
}

#smartling_popup_content .entity_type, #smartling_popup_content .entity_progress {
    font-style: italic;
}

.not_visible {
    display: none;
}

#smartling_translate_popup.smartling_state_compressed #smartling_popup_sizebutton {
    background-position: -80px top!important;
}

#smartling_popup_sizebutton {
    background-position: -96px top!important;
}

#translation_result {
    margin: 10px 0;
}
#translation_result.success {
    background-color: #f8fff0;
    border: 1px solid #be7;
    padding: 10px;
    color: rgb(35, 70, 0);
}

#translation_result.failed {
    background-color: #fef5f1;
    border: 1px solid #ed541d;;
    padding: 10px;
    color: #8c2e0b;
}

#smartling_popup_content #smartling_fieldset .vertical-tabs-panes > fieldset.vertical-tabs-pane {
    margin-bottom: 5px !important;
    padding: 0 !important;
}

#smartling_popup_content #smartling_fieldset .vertical-tabs-panes > fieldset.vertical-tabs-pane > .fieldset-wrapper {
    margin-top: 0;
    padding: 0;
}
